body {
  /* width: 100%; */
    width: 1920px;
    background-image: url(img/ima-elemento4-fondo.jpeg);
    background-repeat: no-repeat;
    background-size: 1920px;
   margin: 0%;

   
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5,auto);
}
.contenedor2{
  display: flex;
  column-gap: 12px;

}
.contenedor3{
  background: linear-gradient(45deg, #12CBE8, #b6e2ec); 
 

  height: 1205px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 160px;
  padding-right: 160px;
justify-content: center;

}
.contenedor3-1{
  h1{
    font-family: "satashi-bold";
    font-size: 64px;
    color: black;
  }
}
.contenedor3-2{
  background-image: url(img/ima-elemento3-5-a-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
  width: 500px;
  height: 440px;
  display: flex;
  flex-direction: row;
  column-gap: 10%;
  h1{
    font-family: "satashi-bold";
    font-size: 64px;
  }
  h4{
    font-family: "satoshi-regular";
    font-size: 20px;
    color: white;
    padding-left: 12px;
  }
  p {
    font-family: "roboto";
    font-size: 20px;
  }
}
.fondo1{
  background-image: url(img/ima-elemento3-5-a-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
  width: 500px;
  height: 440px;

}
.fondo2{
  background-image: url(img/ima-elemento3-5-a-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
  width: 500px;
  height: 440px;

}
.fondo3{
  background-image: url(img/ima-elemento3-5-a-3.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
  width: 500px;
  height: 440px;

}

.contenedor3-2-a{
  display: flex;
  justify-content: space-between;
  width: 475px;
  height: 53px;
  border: 1px solid white;
  border-radius: 50px;
  margin: 12px;
  align-items: center;
  h2{
    padding-left: 12px;
    padding-right: 12px;
    font-family: "satoshi-bold";
    font-size: 20px;
    color: white;
  }
  
}.contenedor3-2-b{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 280px;
 
  h1{
    padding-top: 30%;
    text-align: center;
    font-family: "satoshi-bold";
    font-size: 31px;
  }
  p{ 
    margin-top: -5%;
    text-align: center;
    font-family: "satoshi";
    font-size: 24px;
    color: white;
  }
}.contenedor3-2-c{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 50px;
  justify-content: end;
  h4{
    padding-left: 12px;
    text-align: left;
    font-family: "satoshi-regulsr";
    font-size: 20px;
    color: white;
  }
  
}



.elemento1 {
  background-color: #C8D8DA;
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 1fr 2fr; /* Dos columnas, una de ancho fijo y otra flexible */
    grid-template-rows: 130px;
  }
  
  .elemento1-1 {
    width: 960px;
    padding-left: 160px;
    h1{
      font-family: "satoshi-black";
      font-size: 48px;
      color: black;
    }
  }
  .elemento1-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
      h1{
        font-family: "satoshi-black";
        font-size: 32px;
        color: black;
      }  
  }  
.elemento2 {

  background-color: white;
  margin-top: 71px;
    padding-top: 1em;
    padding-left: 160px;
    display: grid;
    grid-template-columns: 788px;
    grid-template-rows: 349px 300px 274px;
    row-gap: 22px;
}
.elemento2-1{
  margin-top: 102px;
  display: flex;
  align-items: center;
    background-repeat: no-repeat;
    background-image: url("img/ima-elemento1-1.jpeg");
h1{
  font-family: "satoshi-black";
  font-size: 128px;
  padding: 21px;
  line-height: 1em;
  
}
}
.elemento2-2{

border: 2px solid #12CBE8;
border-radius: 30px;
height: 300px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
p{
  font-family: "satoshi-regular";
  font-size: 24px;
  padding-top: 0%;
  margin: 0%;
  padding-left: 21px;
  line-height: 1em;
}
.elemento2-4{
  display: flex;
  gap: 50px;
  p{
    font-family: "satoshi-regular";
    font-size: 24px;
    padding-top: 0%;
    margin: 0%;
    padding-left: 21px;
    line-height: 1em;
  }
}
}.elemento2-3{
    background-image: url("img/ima-elemento1-5.png");

}


.elemento3 {
 background-color: white;
  margin-top: 71px;

    padding-right: 160px;
    border: 6px solid #de020200;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 162px 452px 60px 372px ;
    gap: 4px;

  }
  
  .elemento3-1 {
    
    margin-top: 102px;
    height: 60px;

    background-color: #fefefe;
    grid-column: span 2; /* Ocupa dos columnas */
    display: flex;
    align-items: center;
    justify-content: center;
    

    h2{
      padding-top: -10px;
        font-family: "satoshi-bold";
        font-size: 32px;
        text-align: center;
    }
  }
  
  .elemento3-2 { /*     TARJETA */
    width: 358px;
    height: 452px;
   
    column-gap: 10px;

    background-color: #fefefe;
    filter: drop-shadow(2px 2px 5px #626262 ); 
    grid-column: span 1; /* Ocupa una columna */
   
    >h3{
        font-family: "satoshi-bold";
        padding-left: 5px;
        font-size: 35px;
        padding-top: 0%;
        margin-top: 5px;
    } p{
      padding-left: 5px;
        font-family: "satoshi-regular";
        font-size: 18px;
        margin-top: 10px;
        

    }
    img{
      width: 100%;
    }
  } .elemento3-3 { /*     TARJETA */
    width: 358px;
    height: 452px;
    margin-left: 40px;

    background-color: #fefefe;
    filter: drop-shadow(2px 2px 5px #626262 ); 
    grid-column: span 1; /* Ocupa una columna */
   
    >h3{
        font-family: "satoshi-bold";
        padding-left: 5px;
        font-size: 35px;
        padding-top: 0%;
        margin-top: 5px;
    } p{
      padding-left: 5px;
        font-family: "satoshi-regular";
        font-size: 18px;
        margin-top: 10px;
        

    }
    img{
      width: 100%;
    }
  } 
  
  .elemento3-4 {
    background-color: rgb(255, 255, 255);
    grid-column: span 2; /* Ocupa dos columnas */
    display: flex;
    align-items: center;
    h2{
        font-family: "satoshi-bold";
        font-size: 32px;
    }
  }
  
  .elemento3-5 { /*     TARJETA */
    border-radius: 11px;
    background-image: url("img/ima-elemento3-6.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: span 1; /* Ocupa una columna */
    grid-row: span 1;
  }
 
  
  
  .elemento3-6 { /*     TARJETA */
    border-radius: 11px;
    background-image: url("img/ima-elemento3-5-7.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: span 1; /* Ocupa una columna */
    grid-row: span 1;
  }
  .elemento3-5-1{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: 330px;
    height: 37px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #fefefe;
    border-radius: 50px;
    
    display: flex;
    justify-content: space-between;
    h4{
      font-family: "satoshi-black";
      font-size: 20px;
      color: white;
    }
  
  }
  .elemento3-5-2{
    display: flex;
    flex-direction: column;
    h3{
      text-align: center;
      font-family: "satoshi-bold";
      font-size: 32px;
      color: white;
      margin-top: 30%;
    }
    p{
      margin-top: -4%;
      font-family: "satoshi-regular";
      font-size: 18px;
      text-align: center;
      color: white;
    }
  }
  .elemento3-5-3{
    display: flex;
    align-items: end;
    justify-content: flex-start;
    p{
      font-family: "satoshi-regular";
      font-size: 18px;
      padding: 12px;
      color: white;
    }
  }
 
  
.elemento4 {

    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1290px 497px;
    grid-template-rows: 5000px;
     word-wrap: break-word; 
    row-gap: 12px;
    column-gap: 12px;
    
}
.elemento4-1{
  margin-left: 160px;
  margin-top: 250px;
     padding-left: 12px;
     padding-right: 30px;
    background-color: white;
    
    

}
.elemento4-2{
  margin-left: 12px;
  margin-top: 250px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border: 1px solid #12CBE8; 
  display: flex;
  flex-direction: column;
  
  h4{
    font-family: "satoshi-bold";
    font-size: 20px;

  }
  
  ul li {
   
    font-family: "roboto";
    font-size: 16px;
    color: black;
    
  }
  p{
    font-family: "roboto";
    font-size: 16px;
  }
  
    
}
#colorAzul{
  color: #12CBE8;
}
#colorRojo{
  color: #991A00;
}
#tam{
  font-size: 52px;
}
.elemento4-3{
  margin-top: 10%;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  
    
}
.barra{
  margin: 0%;
  display: grid;
  grid-column: 1/4;
  height: 176px;
  background-color: #F15C32;
  /* background-image: url("img/barra.jpeg"); */
}
.elemento5{
padding-left: 160px;
padding-right: 160px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 1fr);

    background-color: black;
}.elemento5-1{
   text-align: center;
    grid-column: 1/5;
    h1{
      font-family: "satoshi-bold";
      font-size: 128px;
    }
    

}
.elemento5-2{
  h3{
    font-family: "roboto-regular";
    font-size: 24px;
    color: white;
  }
  h2{
    font-family: "roboto-medium";
    font-size: 46px;
    color: white;
  }
  p{
    font-family: "roboto";
    font-size: 20px;
    color: white;
    line-height: 2em;
  }
  

}