.elemento4 img{
    width: 420px;
    height: auto;
}

.pos-texto{
    position: absolute;
    top: -25%;
    left: 5%;
    transform: translate( -1%, -1%);

    color: white;

    
}

.posicion{
    position: relative;
}